@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , 'san-serif';
    transition: all 0.33s ease-in-out;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #dad8d8;
    color: #1d1c1c;
    scrollbar-width: thin;
    scrollbar-color: rgb(223, 111, 32) #ece7e7;
}
section{
    padding: 10px 10%;
    margin-bottom: 6%;
}
#header>.container{
    padding: 10px 7%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 120px;
    margin-left: 25px;
    border-radius: 10px;
}
nav ul li , footer ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}
#header a , .footer__nav {
    color: #181818;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
#header a::after , .footer__nav::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: rgb(215, 105, 26);
    transition: .5s;
}
#header a:hover::after ,footer a:hover::after{
    width: 100%;
}
#home .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home__title{
   font-size: 4rem;
   margin-right: 100px;
}
.home__title span{
    color: rgb(215, 105, 26);
}
.home__sub{
    font-size: 1.5rem;
}
.home__img{
    width: 400px;
    border-radius: 50px;
}
#about .container{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 50px;
}
.about__col1{
    flex-basis: 35%;
    margin-right: 20px;
}
.about__col2{
    flex-basis: 52%;
    padding-left: 10%;
}
.about__img{
    width: 95%;
    border-radius: 20px;
}
.about__title{
    font-size: 3rem;
    margin-bottom: 20px;
    position: relative;
}
.about__title::after{
    bottom: 0;
    left: 0;
}
.about__sub{
    font-size: 1.5rem;
    margin-top: 10px;
}
.tab__titles{
    display: flex;
    gap: 50px;
    margin: 30px 10px;
}
.tab__li{
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.svg1 , .svg2{
    width: 15px;
    position: absolute;
    right: -9px;
    bottom: -12px;
    display: block;
    color:rgb(18, 8, 1);
    transition: none;
}
.tab__li::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: rgb(215, 105, 26);
    bottom: -8px;
    left: 0;
    transition: .5s;
}
.tab__li.active__li::after{
    width: 80%;
}
.tab__sub{
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 3px;
}
.tab__item{
    list-style: none;
    margin-left: 2%;
    position: relative;
}
.tab__item::after{
    content: '';
    position: absolute;
    width: .9%;
    height: 2px;
    bottom: 50%;
    left: -20px;
    background-color: rgb(215, 105, 26);
    transition: .5s;
}
.tab__item:hover:after{
    width: 2.5%;
}
.tab__content{
    display: none;
}
.tab__content.tab__shown{
    display: block;
}
.projects__header{
    font-size: 3rem;
    margin: 0 0 50px 8%;
    position: relative;
}
.projects__header::after{
    bottom: -6px;
    left: 0;
}
.projects__flex{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    height: 500px;
    gap: 10px;
}
.project__link{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: #cbcaca;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
}
.project__title{
    font-size: 1.7rem;
    color: rgb(215, 105, 26);
    margin-top: 20%;
    text-shadow: 10px 10px 20px ;
    transition: .5s;
}
.project__sub{
    margin: 0 4%;
    filter: blur(5px);
    transition: filter 0.5s; 
}
.project__but{
    width: 150px;
    height: 40px;
    margin-bottom: 20%;
    background-color: rgb(247, 128, 44);
    border-radius: 20px; 
    cursor: pointer;
    box-shadow: 10px 0 20px #070606 ;
    color: #2a2a2a;
    filter: blur(5px); 
    transition: 0.5s, filter 0.5s; 
}
.project__link:hover{
    background-color: #a8a6a6;
    transform: translateY(-10px);
}
.project__link:hover .project__sub,
.project__link:hover .project__but {
    filter: blur(0);
}
.project__link:hover .project__title{
    text-shadow: 0 0 0 ;
    filter: blur(5px);
}
.project__but:hover{
    box-shadow: 0 0 0;
    transform: translateY(-4px);
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5%;
}
.contact__header{
    font-size: 2.5rem;
    position: relative;
}
.contact__header::after{
    bottom: -4px;
    left: 0;
}
.contact__right{
    flex-basis: 35%;
}
.contact__left{
    flex-basis: 60%;
}
.contact__right p {
    margin-top: 30px;
}
.contact__right p i{
    color:rgb(215, 105, 26);
    font-size: 30px;
    margin-right: 10px;
}
.contact__right a {
    text-decoration: none;
    color: #1d1c1c;
}
.about__title::after, .projects__header::after , .contact__header::after{
    width: 150px;
    content: '';
    position: absolute;
    height: 2px;
    background-color: rgb(215, 105, 26);
}
.social__icons{
    margin-top: 25px;
}
.social__icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 25px;
    display: inline-block;
    color:rgb(10, 10, 10);
    transition: transform .5s;
}
.social__icons a:hover{
    color:rgb(215, 105, 26);
    transform: translateY(-5px);
}
.formBtn{
    width: 130px;
    height: 60px;
    font-size: 15px;
    margin-top:20px;
    background-color: rgb(247, 128, 44);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 0 20px #070606 ;
    color: #2a2a2a;
    transition: box-shadow .5s , transform .5s;
}

.formBtn:hover{
    transform: translateY(-4px); 
    box-shadow: 0 0 0 ;
}
.contact__left form{
    width: 100%;
}
form input , form textarea{
    width: 85%;
    padding: 15px;
    border: none;
    outline: none;
    margin: 15px 0;
    background-color: #cbcaca;
    color: rgb(19, 19, 19);
    font-size: 15px;
    border-radius: 5px;
}
textarea {
    resize: none;
  }
  
input::placeholder , textarea::placeholder{
    color: rgb(79, 29, 3);
    opacity: .66;
}
form .formBtn{
    margin-top: 5px;
    font-size: 18px;
    display: block;
    width: 110px;
}

input:focus , textarea:focus{
    outline:2px solid rgb(156, 72, 11);
}

input:-webkit-autofill {
  background-color: #cbcaca !important;
  -webkit-box-shadow: 0 0 0 50px #cbcaca inset !important;
  -webkit-text-fill-color: rgb(19, 19, 19) !important;
}

input:-moz-autofill {
  background-color:#cbcaca !important;
  box-shadow: 0 0 0 30px #cbcaca inset !important;
  -moz-text-fill-color: rgb(19, 19, 19) !important;
}
#contact__msg{
    margin-top:10px ;
    color: rgb(3, 74, 3);
}
.footer{
    background-color: #cbcaca;
    padding: 10px 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__icons{
    margin: 0;
    padding: 0;
}
.footer__icons a{
    font-size: 45px;
}
.footer__span{
    font-weight: 700;
}
nav .fa-solid{
    display: none;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px; 
}
::-webkit-scrollbar-track {
    background-color: #ece7e7;
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb {
    background-color: rgb(223, 111, 32); 
    border-radius: 10px; 
    border: 2px solid rgb(185, 184, 183);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8a6a6 ; 
}
@media screen and (max-width:1000px){
    section{
        margin: 30px 0;
        padding: 0;
    }
    .logo{
        width: 100px;
        margin: 0;
    }
    #home .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0%;
        padding: 0%;
    }
    .home__text{
        margin-bottom: 20px;
    }
    .home__title{
        margin: 10px 0;
    }
    .home__img{
        border-radius: 50px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        transition: .5s;
    }

    #sideMenu{
        position:fixed ;
        top: 0;
        right: -100%;
        width: 170px;
        height: 100vh;
        background-color: rgb(215, 105, 26) ;
        padding-top: 40px;
        z-index: 2;
        transition: right .5s;
    }

    #header a::after{
        background-color: #dad8d8;
    }

    nav ul li{
        display: block;
        margin: 25px 5%;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
    }

    #about .container{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 30px;
    }

    .about__col1 ,.about__col2{
        flex-basis: 100%;
    }
    .about__col2{
        padding-left: 8%;
    }
    .about__col1{
        margin: 0;
    }
    .about__img{
        height: 100%;
        position: relative;
    }
    .project__grid{
        display: grid;
        height: max-content;
        justify-content: center;
        gap: 20px;
    }
    .project__link{
        justify-content: space-around;
    }   
    .about__title{
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    .about__sub{
        font-size: .85rem;
        margin-top: 10px;
    }
    .about__title::after, .projects__header::after , .contact__header::after{
        width: 100px;
    }
    .tab__li{
        font-size: 1rem;
        font-weight: 600;
    }
    .tab__sub{
        font-size: 1rem;
    }
    .tab__item{
        margin-left: 1%;
    }
    .project__title, .project__but{
        margin: 0;
    }

    .project__title{
        font-size: 1.5rem;
    }
    .projects__header{
        font-size: 1.8rem;
        margin-bottom: 30px;
    }
    .row{
        flex-direction: column-reverse;
        gap: 20px;
        margin-left: 40px;
    }
    .contact__header{
        font-size: 1.8rem;
    }
    .footer{
        flex-direction: column;
        padding: 5px 5%;
    }
    .footer__icons a{
        margin-top: 5px;
    }
    .footer ul li{
        margin: 0 20px 10px;    
    }
}
@media screen and (max-width:600px) {
    .home__title{
        font-size: 2.2rem;
    }
    .home__sub{
        font-size: 1.2rem;
    }
    .home__img{
        width: 250px;
    }
    .about__img{
        width: 70%;
        left: 15%;
    } 
    .project__grid{
        grid-template-rows:  repeat(5, 300px);
    }
    .project__link{
        width: 300px;
    }   
    .footer{
        font-size: 10px;
    }
    .footer__icons a{
        font-size: 20px;
    }
    .footer__nav{
        font-size: 15px;
    }
}
@media (min-width:601px) and (max-width:1000px) {
    .home__title{
        font-size: 2.5rem;
    }
     .home__sub{
        font-size: 1.3rem;
    }
     .home__img{
        width: 270px;
    }
    .about__img{
        width: 350px;
    }
    #about .container{
        align-items: center;
    }
    .project__grid{
        grid-template-rows:  repeat(3, 250px);
        grid-template-columns: repeat(2 , minmax(auto,350px));
        width: 90%;
        justify-content: start;
    }
    .project__link{
        width: 100%;
    }
    .project__sub{
        font-size: 15px;
    }
    .row,.projects__header,.project__grid {
        margin-left: 8%;
    }
    .footer{
        font-size: 15px;
    }
    .footer__icons a{
        font-size: 25px;
    }
    .footer__nav{
        font-size: 20px;
    }
}
@media (min-width:1001px) and (max-width:1200px){
     section{
        padding: 10px 3% ;
    }
    #header>.container {
        padding: 10px 4%;
    }
    .home__title{
        font-size: 2.5rem;
        margin-right: 50px;
    }
    .home__img{
        width: 350px;   
    }
    .about__img{
        width: 100%;
        margin-left: 30px;
    }
    .about__col1 {
        flex-basis: 40%;
        margin: 0;
    }
    .about__title{
        margin-bottom: 10px;
    }
    .about__title,.projects__header,.contact__header{
        font-size: 2rem;
    }
    .about__sub {
        font-size: 1rem;
    }
    .tab__titles {
        margin: 15px 10px;
    }
    .projects__header{
        margin-left: 8%;
    }
    .projects__flex{
        width: 85%;
    }
    .project__title{
        font-size: 1.4rem;
    }
    .row {
        justify-content: flex-start;
        margin-left: 90px;
    }  
    .about__title::after, .projects__header::after , .contact__header::after{
        width: 120px;
    }
    .footer {
        padding: 10px 9%;
    }
    .footer__icons a {
        font-size: 30px;
    }
    .footer__nav,.footer>p {
        font-size: 15px;
    }
}
@media (min-width:1201px) and (max-width:1400px){
    #header>.container{
    padding: 10px 5%;
}
    .home__img {
        width: 320px;
    }
    .home__title {
        font-size: 3rem;
    }
    .about__title,.projects__header,.contact__header{
        font-size: 2.5rem;
    }
    .about__sub {
        font-size: 1rem;
    }
    .about__col1 {
        margin: 0;
    }
    .about__img {
        width: 100%;
    }
    .project__title {
        font-size: 1.4rem;
    }
    .footer {
        padding: 10px 9%;
    }
    .footer__icons a {
        font-size: 35px;
    }
    .footer__nav,.footer>p {
        font-size: 18px;
    }
}